body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    height: 100vh;
}

.ENsidebar {
    width: 250px;
    background: #2d2d2d;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ENsidebar .logo {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.ENsidebar .welcome {
    text-align: center;
    font-size: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.welcome {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.ENmenu {
    list-style: none;
    padding: 0;
    flex-grow: 1;
}

.ENmenu li {
    margin: 10px 0;
}

.ENmenu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    border-radius: 8px;
    transition: background 0.3s;
}

.ENmenu a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.ENbtn-logout {
    background: #ff4d4d;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s;
}

.ENbtn-logout:hover {
    background: #e60000;
}

.ENmain-content {
    flex-grow: 1;
    padding: 30px;
    background: linear-gradient(135deg, #d9ed42 0%, #d39e2a 60%, #e0d979ff 100%);
}

.ENmain-content .INtable {
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

.INtable th,
.INtable td {
    color: white;
    padding-left: 100px;
    padding-right: 100px;

}

.INtable tr {
    background-color: #2d2d2d;
}